<p *ngIf = "!(authService.getUser()| async)"></p>
<p></p>

<p></p>

   <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let userb of usersb$ "> 
          

      <mat-expansion-panel-header>
        <mat-panel-title>
         user name :{{userb.name}}
        </mat-panel-title>  
 
        <mat-panel-description>
     
      </mat-panel-description>
      <mat-panel-description>
        user email:{{userb.email}}
        
      
        
     
      </mat-panel-description>

      </mat-expansion-panel-header>
     
      <p>phone: <br>{{userb.phone}}</p>
      <p></p>
      user city: {{userb.address.city}}
    <p></p>
              <button  mat-stroked-button color="primary" aria-label="Example icon button with a bookmark icon" (click)="adduser(userb.id,userb.email,userb.name) " >
             
          add user
              </button> 
            
            
            <p></p>
        <p *ngIf="items.includes(userb.id)"  ><b>you add this user </b> </p> 
        
      <p></p>
     
    </mat-expansion-panel>
</mat-accordion>
