<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<p></p>
<mat-card>

    Your done task
  

</mat-card>

<p></p>
    <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let done of dones$|async;">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{done.title}}
        </mat-panel-title>  
        <mat-panel-description>
          duedate:{{done.duedate.toDate() | date :'MM/dd/yyyy'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>info: <br>{{done.info}}</p>
      <p>type : <br>
        {{done.type}}</p>
          
    </mat-expansion-panel>
   
  </mat-accordion>
