.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-panel-description{
      text-align: left;
      width: 400px;
  }

  mat-panel-title{
      width: 400px;
  }


  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
        border: 1px solid rgb(125, 190, 233);

      }


      section {
        display: table;
      }
      
      .example-label {
        display: table-cell;
        font-size: 14px;
        margin-left: 8px;
        min-width: 120px;
      }
      
      .example-button-row {
        display: table-cell;
        width: 490px;
      }
      
      .example-button-row .mat-button-base {
        margin: 8px 8px 8px 0;
      }
      
      .example-flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .example-button-container {
        display: flex;
        justify-content: center;
        width: 120px;
      }
  
  