<p *ngIf = "!(authService.getUser()| async)"></p>
<p></p>

<p></p>
 <!--
   <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ |async"> -->
                    
   <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ "> 
          

      <mat-expansion-panel-header>
        <mat-panel-title>
        name post :{{post.title}}
        </mat-panel-title>  
 
        <mat-panel-description>
          number post:{{post.id}}
      </mat-panel-description>
      <mat-panel-description>

     
      </mat-panel-description>

      </mat-expansion-panel-header>
      <p>body: <br>{{post.body}}</p>
      <p></p><p></p>

      <div ng-controller="myCtrl">
      <div class="example-button-row"></div>
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-button-container">
            
            
              <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" (click)="savepost(post.id,post.title,post.body) " [disabled]="items.includes(post.id)">
                <mat-icon>bookmark</mat-icon><br>
                <span>save</span>
              </button> 

              </div>
            </div>
            </div>
            <p></p>
        <!--     <p *ngIf = "post.id == postId"><b>{{message}}</b> </p> -->
        <p *ngIf="items.includes(post.id)"  ><b>you saved this post </b> </p> 
        
      </div>
      <p></p>
     

      <h1 style="color:pink">all comment for this post:</h1>
      <div *ngFor="let comment of comments$ ">
         <div *ngIf = "comment.postId == post.id;other"> <b>{{comment.id}} . form: {{comment.email}}</b> <br>{{comment.body}}</div>
     </div>  
 <!-- 
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor = "let comment of comments$"> 
                            <div *ngIf = "comment.postId == post.id;other">
          <mat-expansion-panel-header>
            <mat-panel-title>
         <p>name:{{comment.name}}</p><br>
            </mat-panel-title>  
          </mat-expansion-panel-header>
          <p>email:{{comment.email}}</p><br>
          <p>comment body:{{comment.body}}</p><br>
      </div> 
        </mat-expansion-panel>
 
      </mat-accordion>
       -->


    </mat-expansion-panel>
   
  </mat-accordion>
