<p *ngIf = "!(authService.getUser()| async)"></p>
<p></p>
<mat-card *ngIf = "(authService.getUser()| async)">

    <div *ngIf = "(authService.getUser()| async)">
      <button mat-raised-button
      color = "primary"
      (click) = "addTaskFormOpen = !addTaskFormOpen"
    >
    Add Task
    </button>      
    </div>
    <div>
      <fromcus
       *ngIf = "addTaskFormOpen"
        (update) = "add($event)"
        (closeEdit) = "addTaskFormOpen = false">    
      </fromcus>
    </div>

</mat-card>


<div class="mat-elevation-z  8">
    <table mat-table [dataSource]="dataSource" >

    

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef ><b>Name</b> </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
      <mat-form-field *ngIf = "i==rowToEdit" >
        <input          
          matInput
          [(ngModel)]="editRow.name" 
          [value] = "element.name"            
        >
      </mat-form-field>
   
    </td>
  </ng-container>

  <ng-container matColumnDef="Education in years">
    <th mat-header-cell *matHeaderCellDef > <b>Education in years</b> </th>
    <td mat-cell *matCellDef="let element; let i = index"> 
      <span *ngIf = "i!=rowToEdit">{{element.education}}</span>
      <mat-form-field *ngIf = "i==rowToEdit" >
        <input          
          matInput
          [(ngModel)]="editRow.education" 
          [value] = "element.education"            
        >
      </mat-form-field>         
    </td>
  </ng-container>

  <ng-container matColumnDef="Personal income">
    <th mat-header-cell *matHeaderCellDef > <b>Income</b> </th>
    <td mat-cell *matCellDef="let element; let i = index">
    <span *ngIf = "i!=rowToEdit">{{element.income}}</span>
      <mat-form-field *ngIf = "i==rowToEdit" >
        <input          
          matInput
          [(ngModel)]="editRow.income" 
          [value] = "element.income"            
        >
      </mat-form-field>         
    </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> <b>Delete</b> </th>
    <td mat-cell *matCellDef="let element; let i = index">
      
      <button 
        mat-raised-button
        color = 'warn'
        (click)="deletecus(i)"
      >
        Delete
      </button>                  
    </td>
  </ng-container> 

  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef><b>Edit</b>  </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          *ngIf = "i!=rowToEdit"
          mat-raised-button
          (click) = "moveToEditState(i)"
        >
          Edit
        </button> 
        <button 
          *ngIf = "i==rowToEdit"
          mat-raised-button
          color="primary"
          (click) = "updateCustomer()"
        >
          save
        </button> 
        <button 
          *ngIf = "i==rowToEdit"
          mat-raised-button
          (click) = "rowToEdit = null"
        >
          Cancel
        </button>                   
      </td>
 
  </ng-container> 
  
  <ng-container matColumnDef="Predict">
    <th mat-header-cell *matHeaderCellDef> <b>Predict</b> </th>
    <td mat-cell *matCellDef="let element; let i = index">
      
      <button mat-stroked-button color="primary"
       
        (click)="classify(i)"
      >
        Predict  </button> 
                   
      </td>
  </ng-container>  

  <ng-container matColumnDef="Result">
    <th mat-header-cell *matHeaderCellDef><b> Result</b> </th>
    <td mat-cell *matCellDef="let element">
      <p style="color:green" *ngIf = "element.result=='Will return'">{{element.result}}</p>
      <p style="color:red" *ngIf = "element.result=='dont Will return!!!!!!'">{{element.result}}</p>
    </td>
  </ng-container>    

  <ng-container matColumnDef="Save">
    <th mat-header-cell *matHeaderCellDef><b>Save Predict</b>  </th>
    <td mat-cell *matCellDef="let element; let i = index">

      <button mat-stroked-button color="accent" [disabled]="element.result==null||element.saved "      
      (click) = "save(i);" >
      save result
    </button> 
 
    <div *ngIf = "element.saved" >
     <p style="color:hotpink"> you saved result!</p> 
    </div>
    </td>
  </ng-container>  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>












