table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

 td{
  padding: 8px;
  
color:gray;
}



th {
  padding-top: 12px;
  padding-bottom: 4px;

  background-color: rgb(234, 246, 254);
  color: black;
  text-align: center;
}

  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
        border: 1px solid rgb(125, 190, 233);
  
      }
  
  