<p *ngIf = "!(authService.getUser()| async)"></p>
<p></p>
<mat-card>

    <div *ngIf = "(authService.getUser()| async)">
      <button mat-raised-button
      color = "primary"
      (click) = "addTaskFormOpen = !addTaskFormOpen"
    >
    Add Task
    </button>      
    </div>
    <div>
      <fromtask
       *ngIf = "addTaskFormOpen"
        (update) = "add($event)"
        [formType] = "'Add task'"
        (closeEdit) = "addTaskFormOpen = false">    
      </fromtask>
    </div>

</mat-card>

<p></p>
    <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let task of tasks;let i = index">
          

      <mat-expansion-panel-header>
        <mat-panel-title>
        {{task.title}}
        </mat-panel-title>  
        <mat-panel-description>
          duedate:{{task.duedate.toDate() | date :'MM/dd/yyyy'}}
          
        </mat-panel-description><mat-panel-description>
          <button mat-raised-button color="warn" (click)="deleteTasks(task.id)">Delete</button>
        </mat-panel-description> <mat-panel-description>
        <button mat-raised-button color="succsess" (click)="move(task.id,task.title,task.type,task.duedate,task.info)"
        [disabled]="task.id==taskId!">
        Done!</button>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <p>info: <br>{{task.info}}</p>
      <p>type : <br>
        {{task.type}}</p>
          <button mat-raised-button
        color = "primary"
        (click) = "editstate[i] =!editstate[i]"
    >
      Edit
    </button>    
    <fromtask
      [hidden] = "!(editstate[i])"
      [title] = "task.title"
      [info] = "task.info"
      [type] = "task.type"
      [id] = "task.id"
      [formType] = "'edit task'"
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]">


    </fromtask>
    
    <p></p>
    <button mat-raised-button
    color = "primary"
      (click) = "classify(task.id,task.type,task.duedate ,clicktoprobility = !clicktoprobility)">
      what Your chance to finish?
    </button>
    <p ></p>
    <div *ngIf = "clicktoprobility">
   <h1>Your probility to finish in the time: {{probility}}</h1> 
    </div>         
    </mat-expansion-panel>
   
  </mat-accordion>
