
<mat-card>

    <div *ngIf = "(authService.getUser()| async)">
      <button mat-raised-button
      color = "primary"
      (click) = "addTaskFormOpen = !addTaskFormOpen"
    >
    Add Task
    </button>      
    </div>
    <div>
      <fromtask
       *ngIf = "addTaskFormOpen"
        (update) = "add($event)"
        [formType] = "'Add task'"
        (closeEdit) = "addTaskFormOpen = false">    
      </fromtask>
    </div>

</mat-card>


<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let todo of todos;let i = index">
          

      <mat-expansion-panel-header >
        
        <mat-panel-title *ngIf= "todo.done" style="background-color: rgb(187, 224, 180)">
        {{todo.title}}
        </mat-panel-title>  
        <mat-panel-title *ngIf= "!todo.done" >
            {{todo.title}}
            </mat-panel-title>  
        <mat-panel-description *ngIf= "todo.done" style="background-color: rgb(187, 224, 180)">
          duedate:{{todo.duedate.toDate() | date :'MM/dd/yyyy'}}
        </mat-panel-description>
        <mat-panel-description *ngIf= "!todo.done" >
          duedate:{{todo.duedate.toDate() | date :'MM/dd/yyyy'}}
        </mat-panel-description> 
        
        <mat-panel-description>


      

  
        <button mat-raised-button color="succsess" (click)="save(todo.id)"
        [disabled]="todo.done">
        Done!</button>

      </mat-panel-description>
      </mat-expansion-panel-header>
      <p>info: <br>{{todo.info}}</p>
      <p>type : <br>
        {{todo.type}}</p>

    </mat-expansion-panel>
   
</mat-accordion>

          