<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
     
      <div *ngIf = "(authService.getUser()|async)">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/tasks" routerLinkActive="active">Tasks</a>
      <a mat-list-item routerLink="/done" routerLinkActive="active">Tasks done!</a>
      <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a>
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Posts</a>
      <a mat-list-item routerLink="/saveposts" routerLinkActive="active">My Save Posts</a>
      <a mat-list-item routerLink="/allusres" routerLinkActive="active">All Users</a>
      <a mat-list-item routerLink="/myusres" routerLinkActive="active" *ngIf = "(authService.getUser()|async) ?.uid == 'ZNruWLrYJQbgxlu0YED7Vo8XjGy2' ">My Users</a>
      <a mat-list-item routerLink="/todos" routerLinkActive="active">My todos</a>
      <a mat-list-item href="#">Link 3</a>
  
    </mat-nav-list>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
  
      <span>try1</span>
   

      <span class = "spacer"></span>
         <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)">Logout</a>
  
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
