<mat-card>
  <h1>{{formType}}</h1>

    <form #fromtask="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Title</mat-label>
              <input matInput 
                [(ngModel)] = "title"
                name = "title"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>info</mat-label>
              <input matInput 
      
                [(ngModel)] = "info" 
                name = "info" 
                required>
            </mat-form-field>
          </p> 
          <p>
            
            <mat-form-field appearance="standard">
            <mat-label>Type Selection</mat-label>
            <mat-select place-holder = "Type" [(ngModel)] = "type" name = "type"   required>
                <mat-option *ngFor="let type of types" [value]="type.name">
                {{type.name}}
                </mat-option>
            </mat-select>
          </mat-form-field>
          </p>
       
         

        <P>
          <mat-form-field appearance="standard" >
            <mat-label>date</mat-label>
            <input matInput 
            type="date"
            [(ngModel)]="duedate "
              name = "duedate" 
             >
          </mat-form-field>

</P>

        <div >
            <button mat-raised-button color="primary" 
                    (click)= "updateParent()">
                    {{formType}}
            </button>
            <button mat-raised-button  
                    (click)= "tellParentToClose()">
                     Cancel
            </button>            
        </div>
      </div>
    </form>
   </mat-card>



