<p *ngIf = "!(authService.getUser()| async)"></p>
<p></p>

<p></p>
 <!--
   <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ |async"> --> 
   <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let Spost of Sposts$ |async;"> 
      <mat-expansion-panel-header>
        <mat-panel-title>
        name post :{{Spost.title}}
        </mat-panel-title>  
        <mat-panel-description>
          number post:{{Spost.id}}
      </mat-panel-description>
      <mat-panel-description>

     
      </mat-panel-description>

      </mat-expansion-panel-header>
      <p>body: <br>{{Spost.body}}</p>
    </mat-expansion-panel>
   
</mat-accordion>
