<mat-card>

    <h1>Add Customer</h1>
  
      <form #fromCUS="ngForm">
        <div class="example-container">
          <p>
              <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput 
                  [(ngModel)] = "name"
                  name = "name"
                  required>
               
              </mat-form-field>
            </p> 




            <p>
                <mat-form-field appearance="fill">
                    <mat-label>education</mat-label>
                    <input matInput  placeholder=" Years of education can be between 0-24 years"
                    [(ngModel)]= "education"
                    name = "education"
                    type="number"
                    (keydown)="clearError()"
                    (change)="clearError()"
                    required >
                
          
       <p style="color:red;padding-top:10px" *ngIf="!!Error">{{Error}}</p>
      </mat-form-field>
          
            </p>
            <p>
                <mat-form-field appearance="standard">
                  <mat-label>Income</mat-label>
                  <input matInput 
                  type="number"
                    [(ngModel)] = "income" 
                    name = "income" 
                    required 
                   >
                    
                </mat-form-field></p>

  
          <div >
              <button mat-raised-button
              [disabled] ="!fromCUS.form.valid"
               color="primary" 
            
                      (click)= "updateParent()">
                      
                      Add!!
              </button>
              <button mat-raised-button  
            
                      (click)= "tellParentToClose()">
                       Cancel
              </button>            
          </div>
        </div>
      </form>
     </mat-card>
  
  
  
  