<mat-card>
  <mat-card-content>
  <h1>SignUp</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example: you@you.com"
              [(ngModel)] = "email"
              name = "email"
              required>
            <mat-hint>The one you really read</mat-hint>
          </mat-form-field>
      </p> 
      <p>
       

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  [(ngModel)] = "password"
                   name = "password"
                   required #spy>
                   <mat-hint>8 chracters or more</mat-hint>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </p>






                       
      <div >
        <p></p>
          <button mat-raised-button color="primary" 
                  [disabled]="!signupForm.form.valid">
                   Sign Up
          </button>
      </div><p></p>
      <p style="color:red" *ngIf = "isError">{{errorMessage}}</p>
    </div>
  </form>
</mat-card-content>
 </mat-card>

